ninja  # For faster builds.
psutil
pandas  # Required for Ray data.
pyarrow  # Required for Ray data.
sentencepiece  # Required for LLaMA tokenizer.
numpy
transformers == 4.36.0  # Required for Mixtral.
xformers == 0.0.23.post1  # Required for CUDA 12.1.
fastapi
uvicorn[standard]
aioprometheus[starlette]
pydantic == 1.10.13  # Required for OpenAI server.
ray == 2.5.1 # framework used for managing processes
torch == 2.1.2   # model implement with torch
